.logo-header{
    background-color: #FFEAE8;
}

.navbar-bg{
    background-color: #FF6790 ;
    
}

button{
    font-family: "Lilita One" !important;
    color: white !important;
}

@font-face {
    font-family: "Lilita One"; 
    src: url("https://fonts.google.com/specimen/Lilita+One");
}
  

.nav-link[data-bs-target] {
}
.nav-link[data-bs-target]:hover {
    color: white;
    background-color: #FF6790;
    border-color:#FF6790;
}
.nav-link[data-bs-target].active {
    color:white;
    background-color: #CCC4FF;
    border-color:#FF6790;
}

.logo-header a{
    
}




















