.logo-header{
    background-color: #FFEAE8;
}

.navbar-bg{
    background-color: #FF6790 ;
    
}

button{
    font-family: "Lilita One" !important;
    color: white !important;
}

@font-face {
    font-family: "Lilita One"; 
    src: url("https://fonts.google.com/specimen/Lilita+One");
}
  

.nav-link[data-bs-target] {
}
.nav-link[data-bs-target]:hover {
    color: white;
    background-color: #FF6790;
    border-color:#FF6790;
}
.nav-link[data-bs-target].active {
    color:white;
    background-color: #CCC4FF;
    border-color:#FF6790;
}

.logo-header a{
    
}
.tab-content div{
    background-color: #fcf9d8;
}



.tab-content .graphic1{
    position:relative;
    z-index: 20;
    left: -15px;
    top: auto;
    size: 100%;
    height:auto
}


.tab-content .cmachine-graphic .graphic2{
    position:absolute;
    z-index: 30;
    top: 100%;
    left: 150%;
}

 .tab-content .cmachine-graphic .cmachine{
    position:fixed;
    z-index: 10;
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 80%;
    height: auto;
    top: -200px;
}












