.logo-header{
    background-color: #FFEAE8;
}



.navbar-bg{
    background-color: #FF6790 ;
    
}

button{
    font-family: "Lilita One" !important;
    color: white !important;
}

@font-face {
    font-family: "Lilita One"; 
    src: url("https://fonts.google.com/specimen/Lilita+One");
}
  

.nav-link[data-bs-target] {
}
.nav-link[data-bs-target]:hover {
    color: white;
    background-color: #FF6790;
    border-color:#FF6790;
}
.nav-link[data-bs-target].active {
    color:white;
    background-color: #CCC4FF;
    border-color:#FF6790;
}

.logo-header a{
    
}
.tab-content div{
    background-color: #FFFDDF;

}

#clawmachine{
    background-color: #FF6790;
    border-radius: 25px;
    width: 20%;
}

.tab-content .graphic1{
    position:relative;
    z-index: 20;
    left: -15px;
    top: auto;
    width: 20%;
    height:auto
}


.tab-content .cmachine-graphic .graphic2{
    position:relative;
    z-index: 30;
    top: -30%;
    left: 49%;
    width:35%
}

 .tab-content .cmachine-graphic .cmachine{
    position:relative;
    z-index: 10;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;

}












