* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: "Lilita One";
    background-color: #fcf9d8;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.submit-btn{
    font-family: "Lilita One" !important;
}

@font-face {
    font-family: "Lilita One"; 
    src: url("https://fonts.google.com/specimen/Lilita+One");
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-container {
    background: #FFEAE8;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}


h2 {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}


.form-group {
    margin-bottom: 1rem;
    text-align: left;
}


input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #FFAB62;
    font-size: 1rem;
}


.optional {
    display: none; 
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #CCC4FF;
    color: #FFEAE8;
    border: none;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #b1a6fb;
}

.toggle-action {
    margin-top: 15px;
}

.toggle-action a {
    color: #FF6790;
    text-decoration: none;
}

.toggle-action a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    .form-container {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 1.5rem;
    }
}

#signin-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#signin-section h2,
#signin-section label,
#signin-section input,
#signin-section button,
#signin-section a {
  font-family: 'Lilita One', cursive;
}

#signin-section form {
  max-width: 400px;
  height: 400px;
  width: 200%;
  background-color: rgb(250, 238, 236);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(11, 11, 11, 0.1);
  border-radius:15px;
}

#signin-section .btn {
  font-size: 16px;
  background-color:#b1a6fb;
  border: 1px solid #FF6790;
  border-radius:50px;
}

header .btn {
  font-family: 'Lilita One', cursive;
  font-size: 14px;
  padding: 10px 15px;
}
